<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sebastian Ruml Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume for Sebastian Ruml">
    <meta name="author" content="Sebastian Ruml">

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/resume.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="jumbotron">
        <div class="row">
          <div class="span12">
            <h3 style="text-align: center; text-style: italic">Resume</h3>
            <h1 style="padding: 10px 0px; text-align: center; font-size: 60px"><%= data['contact']['name'] %></h1>
            <span class="" style="text-align: center;">
              <address>
                <a href="<%= data['contact']['site'] %>" > <%= data['contact']['site'] %> </a><br />
                <a href="mailto:<%= data['contact']['email'] %>"><%= data['contact']['email'] %></a><br />
                <a> <%= data['contact']['phone'] %> </a>
                <strong>Github: </strong><a href="<%= data['contact']['github'] %>" > <%= data['contact']['github'] %> </a><br />
                <strong>Github Page: </strong><a href="<%= data['contact']['github_page'] %>"><%= data['contact']['github_page'] %></a><br />
                <strong>XING: </strong> <a href="<%= data['contact']['xing'] %>"><%= data['contact']['xing'] %></a> <br />
                <strong>LinkedIn: </strong> <a href="<%= data['contact']['linkedin'] %>"><%= data['contact']['linkedin'] %></a>
              </address>
            </span>
          </div>
        </div>
      </header>

      <section id="summary">
        <div class="row">
          <div class="page-header">
            <h2>Summary<h2>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <% data['summary']['short'].each do |line| %>
            <%= line %>
            </br>
            </br>
            <% end %>

            <% data['summary']['long'].each do |line| %>
            <%= line %>
            </br>
            </br>
            <% end %>
          </div>
        </div>
      </section>

      <section id="work">
        <div class="row">
          <div class="page-header">
            <h2>Work Experience<h2>
          </div>
        </div>
        <% data['work'].each do |company| %>
          <div class="row" style="padding: 10px 0 0 0;">
            <div class="span8">
              <h3 style="margin: 0"> <%= company['where']['title'] %>
              <a href=" <%= company['where']['site'] %> " target="_BLANK">
                <span class="badge">Website</span></a>
              </h3>
            </div>
            <div class="span4">
              <h3 class="pull-right" style="margin: 0"> <%= company['where']['location'] %> </h3>
            </div>
          </div>

          <div class="row" style="padding-bottom: 25px">
            <div class="span12">
              <h4 class="pull-right" style="margin: 0"><em> <%= company['where']['when'] %> </em></h4>
            </div>
          </div>

          <% company['positions'].each do |position| %>
            <div class="row">
              <div class="span6">
                <h4 style="margin: 0"><em> <%= position['title'] %> </em></h4>
              </div>
              <div class="span6">
                <h4 class="pull-right" style="margin: 0"><em> <%= position['when'] %> </em></h4>
              </div>
              </br>
            </div>

            <div class="row">
              <div class="span12">
                <%= position['description'] %>
              </div>
            </div>
            </br></br>
          <% end %>

          <div class="row">
            <div class="span12">
              <h4><strong>Projects</strong></h4>
            </div>
          </div>

          <% company['projects'].each do |project| %>
            <div class="row">
              <div class="span12">
                <h4><%= project['title'] %>
                <a href=" <%= project['link'] %> " target="_BLANK">
                  <span class="badge">Website</span></a>
                </h4>
              </div>
            </div>

            <div class="row">
              <div class="span12">
                <ul>
                  <% project['description'].each do |item| %>
                    <li> <%= item %> </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

        <% end %>
      </section>

      <section id="projects">
        <div class="row">
          <div class="page-header">
            <h2>Projects<h2>
          </div>
        </div>
        <% data['projects'].each do |project| %>
          <div class="row" style="padding: 10px 0 0 0">
            <div class="span8">
              <h3 style="margin: 0"> <%= project['name'] %>
                <a href=" <%= project['link'] %> " target="_BLANK">
                  <span class="badge">Website</span></a>
              </h3>
            </div>
            <div class="span4">
              <h3 class="pull-right" style="margin: 0"> <%= project['when'] %> </h3>
            </div>
          </div>

          <div class="row">
            <div class="span12">
              <%=  project['description'] %>
            </div>
          </div>
        <% end %>
      </section>

      <section id="skills">
        <div class="row">
          <div class="page-header">
            <h2>Skills<h2>
          </div>

          <% data['skills'].each do |skill| %>
            <div class="row">
              <div class="span12">
                <h3> <%= skill['name'] %> </h3>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <ul>
                  <% skill['longlist'].each do |line| %>
                    <li> <%= line %> </li>
                  <% end %>
              </ul>
              </div>
            </div>
          <% end %>
        </div>
      </section>

      <section id="education">
        <div class="row">
          <div class="page-header">
            <h2>Education<h2>
          </div>
        </div>
        <% data['education'].each do |school| %>
          <div class="row" style="padding: 10px 0 4px 0;">
            <div class="span8">
              <h3 style="margin: 0"> <%= school['where']['name'] %>
            </div>
            <div class="span4">
              <h3 class="pull-right" style="margin: 0"> <%= school['where']['location'] %> </h3>
            </div>
          </div>

          <div class="row">
            <div class="span6">
              <h4 style="margin: 0"><em> <%= school['what']['title'] %> </em></h4>
            </div>
            <div class="span6">
              <h4 class="pull-right" style="margin: 0"> <%= school['when'] %> </h4>
            </div>
          </div>

          <div class="row" style="padding: 10px 0 0 0">
            <div class="span12">
              <ul>
                <% school['description'].each do |line| %>
                  <%= line %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </section>

      <section id="languages">
        <div class="row">
          <div class="page-header">
            <h2>Languages<h2>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <ul>
              <% data['languages'].each do |language| %>
                <li> <%= language %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>

      <section id="prof_interests">
        <div class="row">
          <div class="page-header">
            <h2>Professional Interests<h2>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <ul>
              <% data['professional_interests'].each do |interest| %>
                <li> <%= interest %> </li>
              <% end %>
            </ul>
          </div>
      </section>

      <section id="interests">
        <div class="row">
          <div class="page-header">
            <h2>Interests<h2>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <ul>
              <% data['interests'].each do |interest| %>
                <li> <%= interest %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
      <div>
        <hr>
      </div>
      <div class="row footertext">
        Build with <a href="https://github.com/hypebeast/resume">Resume</a>
      </div>
    </div>
  </body>
</html>
